@CHARSET "utf-8";

body {
background: none repeat scroll 0 0 #E0E0E0;
    color: #333333;
    font: 11px/1.5 verdana,sans-serif;
    margin: 0;
    padding: 0;
}

#topbg{
	background-attachment: scroll;
	background-color: #FF9340;
	background-image: none;
	background-repeat: repeat;
	background-position: 0px 0px;
	opacity: 0.5;
	position: absolute;
	z-index: -1;
	height: 143px;
	width: 100%;
	left: 0px;
	top: 0px;
}

.container {
	height: 800px;
	width: 960px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 13px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	position: relative;
}

.header {
	background-attachment: scroll;
	background-color: #FF9340;
	background-image: none;
	background-repeat: repeat;
	background-position: 0px 0px;
	position: relative;
	height: 130px;
	width::960px;
}

.nav ul{
    height: 26px;
    list-style-type: none;
    margin: 0;
    padding: 1px 0;
}

.nav li {
    float: left;
    margin: 0;
    padding: 0;
}

.nav a{
	display: block;
    font-size: 10px;
    height: 24px;
    line-height: 24px;
    margin: 1px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
	background: none repeat scroll 0 0 #FFCF73;
    color: #A66D00;
}

.container [class*="span"] {
	display: block;
	width: 100%;
	min-height: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin-left: 2.127659574%;
	*margin-left: 2.0744680846383%;
}
.container [class*="span"]:first-child {
	margin-left: 0;
}

.container .span12 {
	width: 99.99999999%;
	*width: 99.946808500638%;
}
.container .span11 {
	width: 91.489361693%;
	*width: 91.436170203638%;
}
.container .span10 {
	width: 82.978723396%;
	*width: 82.925531906638%;
}
.container .span9 {
	width: 74.468085099%;
	*width: 74.414893609638%;
}
.container .span8 {
	width: 65.957446802%;
	*width: 65.904255312638%;
}
.container .span7 {
	width: 57.446808505%;
	*width: 57.393617015638%;
}
.container .span6 {
	width: 48.936170208%;
	*width: 48.882978718638%;
}
.container .span5 {
	width: 40.425531911%;
	*width: 40.372340421638%;
}
.container .span4 {
	width: 31.914893614%;
	*width: 31.861702124638%;
}
.container .span3 {
	width: 23.404255317%;
	*width: 23.351063827638%;
}
.container .span2 {
	width: 14.89361702%;
	*width: 14.840425530638%;
}
.container .span1 {
	width: 6.382978723%;
	*width: 6.3297872336383%;
}